[Unit]
Description=Redmeters backend
After=network.target

[Service]
Type=simple
TimeoutStopSec=5
ExecStart=/usr/bin/redmeters-backend
KillMode=mixed

[Install]
WantedBy=multi-user.target
